* { 
    /* background-image: url("./src/imgs/liminal.png"); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:0;
    margin: 0;
    cursor: url('./src/imgs/mouse.png'), auto;	
}


.bottom-half {
    margin-top:25px;
}

#dialog-header{
   
    padding:10px;
    background-color: yellow;
    margin-bottom: 30px;
}

#dialog-header p {
    color:rgb(16, 7, 56);
    padding:0;
    margin:0;
}

#benet{
    color:greenyellow;
}

#text-area {
    margin:0;
    padding:0;
}

#send-button {
    margin:0;
    padding:0;
}

.site {
    margin: 0 10%;
    max-width: 80%;
}

.site p {
    color:white;
}

#go a{
    font-size: 24px;
    color: azure;
}



h3 {
    color:#00ffff;
}

/* NAV BAR */

#icon {
    font-size: 24px;
    padding:8px 0%;
    color:#EA526F;
    font-family: 'Roboto', sans-serif;
  
    font-weight: 600;
    padding-top: 10px;
    font-size: 36px;
}

.topnav {
    padding-top:5%;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
   
    font-size: 17px;
  }
  
.topnav a:hover {
    /* background-color: #7e7e7e; */
    color: #F6E33F;
    text-decoration: underline;
    cursor: url('./src/imgs/finger.png'), auto;	
  }

  a:hover {
    cursor: url('./src/imgs/finger.png'), auto;	
  }
  
.topnav a.active {
    
    color: #fc62e7;
  }
  
.topnav-right {
    float: right;
  }

body {
    background-image: url("./src/imgs/liminalnewsm.png");
    background-color: rgba(179, 179, 199, 0.782);
    background-repeat: repeat;
}

.userArea {
    padding:0 1%;
    margin:0 1%;
}

.machineArea{
    padding:0 1%;
    margin:0 1%;
}

p{
    font-family:'Times New Roman', Times, serif;
    color:rgb(231, 231, 231);
    font-size: 1.2em;
    margin-bottom: 3%;

}

.ui{
    margin-top: 0%;
    font-family: 'Times New Roman', Times, serif;
    padding-top:4%;
}

.convo {
    border: 5px solid rgb(214, 214, 214);
    background-color: rgba(97, 97, 97, 0.856);
    
}


#Linput0{
   
    align-items: right;
}


#Lbtnsubmit0{
    color:white;
    align-items: right;
}

.userArea p{
    margin-right: 0;
    color: rgb(250, 209, 209);
}



.narrative{
    margin-top: 4%;
    max-width: 70%;
    height: auto;
    margin-left: 15%;
}

.machineArea p{
    color:#adff2f;
}

button {
    background-color: #4caf4f00;
    border: 1px solid white;
    color: white;
    padding: 4px 6px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 1.2em;
  }

.gentext p{
    color:greenyellow;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(250, 209, 209);
    font-size: 1.2em;
    background-color: rgba(97, 97, 97, 0.856);
    border-color: black;
    border: 5px solid rgb(214, 214, 214);
    margin-bottom:10px;
    width:98.7%;
}

.about-content {
    margin: 0 10%;
    width:80%;
}


.about-content > * {
    margin: 30px 0;
}


.about-content p{
    margin:0;
    line-height: 140%;
    letter-spacing: .1rem;
}

.about-content a{
    color: #00ffff;
}

img{
    max-width: 100%;
    height: auto;
    margin-left: 0%;
}


.hero{
    align-content: center;
    align-self: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    padding-top: 10px;
    font-size: 28px;
    color: #F6E33F;
}



